<div>
    <form>
        <ul id="accountingRoomSelection">
            <li ng-repeat="room in availableRooms"><input type="checkbox" ng-model="room.Selected">{{room.Name}}</li>
        </ul>
    </form>

    <div id="accoutingDates">
        <div id="accountingStartDate">
            <p class="dateTitle">Start Date</p>
            <div uib-datepicker ng-model="startDate" class="well well-sm" datepicker-options="options"></div>
        </div>
        <div id="accountingEndDate">
            <p class="dateTitle">End Date</p>
            <div uib-datepicker ng-model="endDate" class="well well-sm" datepicker-options="options"></div>
        </div>
    </div>
    <div id="accountingButtons">
        <button ng-click="calculateBill()" class="tableButton">Calculate Bill</button>
    </div>
</div>

<div id="accountingResults" ng-show="billLoaded">
    <p>Total: {{billTotal}}€</p>
    <div ui-grid="gridOptions" id="accountingResult" ui-grid-auto-resize ui-grid-edit ui-grid-row-edit ng-style="calculateTableHeight()"></div>
</div>