<div>
    <ul id="accountingRoomSelection">
        <li ng-repeat="room in availableRooms"><input type="checkbox" ng-model="room.Selected">{{room.Name}}</li>
    </ul>
    <div id="accoutingDates">
        <div id="accountingStartDate">
            <p class="dateTitle">Start Date</p>
            <div uib-datepicker ng-model="startDate" class="well well-sm" datepicker-options="options"></div>
        </div>
        <div id="accountingEndDate">
            <p class="dateTitle">End Date</p>
            <div uib-datepicker ng-model="endDate" class="well well-sm" datepicker-options="options"></div>
        </div>
    </div>
    <button ng-click="loadResult()" class="tableButton">Calculate Bill</button>
</div>

<div id="accountingResult">

</div>