<div ng-hide="isOnlyUser()">
    {{ 'Breadbookings.Selection' | translate }}: <select ng-model="selectedRoom" ng-options="x.Name for x in availableRooms" ng-change="selectedRoomChanged(selectedRoom)"></select>
</div>
<div ui-grid="gridOptions" id="breadBookingsTable" ui-grid-auto-resize ui-grid-cellNav ui-grid-edit ui-grid-row-edit ng-style="calculateTableHeight()"></div>
<button ng-click="persistAllChanges()" class="tableButton" ng-disabled="currentBookingMetaData.AlreadyOrdered">{{ 'Breadbookings.Save' | translate }}</button>
<button ng-click="cancelAllChanges()" class="tableButton">{{ 'Breadbookings.Cancel' | translate }}</button>