<!DOCTYPE html>
<html ng-app="WolfBooking">
<head>
    <base href="/">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WolfBooking</title>

    <link rel="stylesheet" href="Content/bootstrap.min.css" />
    <link rel="stylesheet" href="Content/ui-grid.min.css" />
    <link rel="stylesheet" href="Content/font-awesome.min.css" />
    <link rel="stylesheet" href="Content/breads.css" />
    <link rel="stylesheet" href="Content/login.css" />
    <link rel="stylesheet" href="Content/users.css" />
    <link rel="stylesheet" href="Content/accounting.css" />
    <link rel="stylesheet" href="Content/common.css" />
</head>
<body ng-controller="HomeCtrl">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">WolfBooking</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li ng-show="isMoreThanUser()"><a href="Breads">{{'Index.Breads' | translate}}</a></li>
                <li ng-show="isAdministrator()"><a href="Users">{{'Index.Users' | translate}}</a></li>
                <li ng-show="isMoreThanUser()"><a href="Rooms">{{'Index.Rooms' | translate}}</a></li>
                <li ng-show="isLoggedIn()"><a href="Breadbookings">{{'Index.Breadbooking' | translate}}</a></li>
                <li ng-show="isMoreThanUser()"><a href="Accounting">{{'Index.Accounting' | translate}}</a></li>
                <li ng-show="isNotLoggedIn()"><a href="Login">{{'Index.Login' | translate}}</a></li>
                <li ng-show="isLoggedIn()" ng-click="logout()"><a href="Login">{{'Index.Logout' | translate}}</a></li>
                <li ng-click="changeLanguage()"><img src="Content/en_de_flags_small.png" width="50" height="25"></li>
            </ul>
        </div>
    </nav>

    <div id="mainDiv">
        <div ng-view></div>
    </div>

    <!-- 3rd party libraries -->
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-route.min.js"></script>
    <script src="Scripts/angular-animate.min.js"></script>
    <script src="Scripts/angular-sanitize.min.js"></script>
    <script src="Scripts/angular-translate.min.js"></script>
    <script src="Scripts/angular-translate-loader-static-files.min.js"></script>
    <script src="Scripts/angular-cookies.min.js"></script>
    <script src="Scripts/ui-grid.min.js"></script>
    <script src="Scripts/ui-bootstrap-tpls-2.0.1.min.js"></script>

    <!-- Services -->
    <script src="app/services/Breads.js"></script>
    <script src="app/services/Authentication.js"></script>
    <script src="app/services/Users.js"></script>
    <script src="app/services/PageHistory.js"></script>
    <script src="app/services/Roles.js"></script>
    <script src="app/services/Tables.js"></script>
    <script src="app/services/Rooms.js"></script>
    <script src="app/services/Breadbookings.js"></script>
    <script src="app/services/Accounting.js"></script>

    <!-- Main script -->
    <script src="app/Wolfbooking.js"></script>

    <!-- Controllers -->
    <script src="app/controllers/HomeCtrl.js"></script>
    <script src="app/controllers/BreadsCtrl.js"></script>
    <script src="app/controllers/LoginCtrl.js"></script>
    <script src="app/controllers/UsersCtrl.js"></script>
    <script src="app/controllers/RoomsCtrl.js"></script>
    <script src="app/controllers/BreadbookingsCtrl.js"></script>
    <script src="app/controllers/AccountingCtrl.js"></script>
</body>
</html>