<!DOCTYPE html>
<html ng-app="wolfBooking">
<head>
    <base href="/">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WolfBooking</title>

    <link rel="stylesheet" href="Content/bootstrap.min.css" />
    <link rel="stylesheet" href="Content/ui-grid.min.css" />
    <link rel="stylesheet" href="Content/font-awesome.min.css" />
    <link rel="stylesheet" href="Content/breads.css" />
    <link rel="stylesheet" href="Content/login.css" />
    <link rel="stylesheet" href="Content/users.css" />
    <link rel="stylesheet" href="Content/common.css" />
</head>
<body ng-controller="homeController">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">WolfBooking</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="home">Home</a></li>
                <li><a href="breads">Breads</a></li>
                <li><a href="users">Users</a></li>
                <li><a href="login">Login</a></li>
            </ul>
        </div>
    </nav>

    <div id="mainDiv">
        <div ng-view></div>
    </div>

    <!-- 3rd party libraries -->
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-route.min.js"></script>
    <script src="Scripts/angular-animate.min.js"></script>
    <script src="Scripts/ui-grid.min.js"></script>

    <!-- Services -->
    <script src="Scripts/services/breads.js"></script>
    <script src="Scripts/services/authentication.js"></script>
    <script src="Scripts/services/users.js"></script>
    <script src="Scripts/services/pagehistory.js"></script>
    <script src="Scripts/services/roles.js"></script>

    <!-- Main script -->
    <script src="Scripts/wolfbooking.js"></script>

    <!-- Controllers -->
    <script src="Scripts/controllers/home.js"></script>
    <script src="Scripts/controllers/breads.js"></script>
    <script src="Scripts/controllers/login.js"></script>
    <script src="Scripts/controllers/users.js"></script>
</body>
</html>