<!DOCTYPE html>
<html ng-app="wolfBooking">
<head>
    <base href="/">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WolfBooking</title>

    <link rel="stylesheet" href="Content/bootstrap.min.css" />
    <link rel="stylesheet" href="Content/ui-grid.min.css" />
    <link rel="stylesheet" href="Content/font-awesome.min.css" />
    <link rel="stylesheet" href="Content/breads.css" />
    <link rel="stylesheet" href="Content/login.css" />
    <link rel="stylesheet" href="Content/users.css" />
    <link rel="stylesheet" href="Content/accounting.css" />
    <link rel="stylesheet" href="Content/common.css" />
</head>
<body ng-controller="homeController">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">WolfBooking</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li ng-show="isLoggedIn() && !isOnlyUser()"><a href="breads">{{'Index.Breads' | translate}}</a></li>
                <li ng-show="isLoggedIn() && isAdministrator()"><a href="users">{{'Index.Users' | translate}}</a></li>
                <li ng-show="isLoggedIn() && !isOnlyUser()"><a href="rooms">{{'Index.Rooms' | translate}}</a></li>
                <li ng-show="isLoggedIn()"><a href="breadbookings">{{'Index.Breadbooking' | translate}}</a></li>
                <li ng-show="isLoggedIn() && !isOnlyUser()"><a href="accounting">{{'Index.Accounting' | translate}}</a></li>
                <li ng-show="!isLoggedIn()"><a href="login">{{'Index.Login' | translate}}</a></li>
                <li ng-show="isLoggedIn()" ng-click="logout()"><a href="login">{{'Index.Logout' | translate}}</a></li>
                <li ng-click="changeLanguage()"><img src="Content/en_de_flags_small.png" width="50" height="25"></li>
            </ul>
        </div>
    </nav>

    <div id="mainDiv">
        <div ng-view></div>
    </div>

    <!-- 3rd party libraries -->
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-route.min.js"></script>
    <script src="Scripts/angular-animate.min.js"></script>
    <script src="Scripts/angular-sanitize.min.js"></script>
    <script src="Scripts/angular-translate.min.js"></script>
    <script src="Scripts/angular-translate-loader-static-files.min.js"></script>
    <script src="Scripts/ui-grid.min.js"></script>
    <script src="Scripts/ui-bootstrap-tpls-2.0.1.min.js"></script>

    <!-- Services -->
    <script src="app/services/breads.js"></script>
    <script src="app/services/authentication.js"></script>
    <script src="app/services/users.js"></script>
    <script src="app/services/pagehistory.js"></script>
    <script src="app/services/roles.js"></script>
    <script src="app/services/tables.js"></script>
    <script src="app/services/rooms.js"></script>
    <script src="app/services/breadbookings.js"></script>
    <script src="app/services/accounting.js"></script>

    <!-- Main script -->
    <script src="app/wolfbooking.js"></script>

    <!-- Controllers -->
    <script src="app/controllers/home.js"></script>
    <script src="app/controllers/breads.js"></script>
    <script src="app/controllers/login.js"></script>
    <script src="app/controllers/users.js"></script>
    <script src="app/controllers/rooms.js"></script>
    <script src="app/controllers/breadbookings.js"></script>
    <script src="app/controllers/accounting.js"></script>
</body>
</html>