#accountDates {
    width: 100%;
}

#accountingStartDate {
    width: 50%;
    float: left;
}

#accountingEndDate {
}

p.dateTitle {
    text-align: center;
}

#accountingRoomSelection {
    list-style: none;
}

#accountingButtons {
    height: 40px;
}