#mainDiv {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.tableButton {
    float: right;
    margin: 5px;
}

.ui-grid-row-dirty .ui-grid-cell {
    color: #6600ff;
    background-color: #ccc;
}