<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="DESKTOP-FPBI4D6" connectionString="Server=.\SQLEXPRESS;Database=WolfBooking;User Id=WolfBooking;Password=Test1234;" providerName="System.Data.SqlClient" />
    <add name="DESKTOP-CS1GNIV" connectionString="Server=.\SQLEXPRESS;Database=WolfBooking2;User Id=WolfBooking;Password=Test1234;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="port" value="25" />
    <add key="starttls" value="true" />
    <add key="server" value="smtp.mail.yahoo.com" />
    <add key="from" value="depp.huber@yahoo.com" />
    <add key="to" value="benediktibk@outlook.com" />
    <add key="cc" value="benediktibk@aon.at" />
    <add key="username" value="depp.huber@yahoo.com" />
    <add key="password" value="Test1234!" />
    <add key="sendingtime" value="15:25" />
  </appSettings>
</configuration>