<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="port" value="25" />
    <add key="starttls" value="true" />
    <add key="server" value="smtp.mail.yahoo.com" />
    <add key="from" value="depp.huber@yahoo.com" />
    <add key="to" value="benediktibk@outlook.com" />
    <add key="cc" value="benediktibk@aon.at" />
    <add key="username" value="depp.huber@yahoo.com" />
    <add key="password" value="Test1234!" />    
    <add key="sendingtime" value="21:12" />
  </appSettings>
</configuration>